html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.main-title{
  text-align: center;
}

.product-form{
  background-color: rgb(219, 219, 219);
  width: 500px;
  padding: 30px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 4px 6px rgb(93, 93, 93);
  margin: 0 auto;
  margin-bottom: 40px;
}


.input-button{
  height: 25px;
  width: 300px;
  margin-top: 20px;
}

.form-group{
  display: grid;
  grid-template-columns: 70px 1fr ;
}

.label-title{
  text-align: center;
  margin-top: 20px;
}

#add-button{
  height: 35px;
  width: 100px;
  background-color: rgb(53, 53, 53);
  color: white ;
  margin-top: 10px;
  cursor: pointer;
  transition: .2s;
}

#add-button:hover{
  background-color: rgb(35, 35, 35);
}

#products-table{
  margin: 0 auto;
}

/* .table-head{
  background-color: black;
  color: white;
  padding: 4px;
} */

/* Your Styles */

.btn-delete{
  background-color: red;
  border: 0;
  color: white;
  border-radius: 3px;
}

.products-table tr{
  display: flex;
}

.table-head{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 40px;
}

.table-body-row{
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 20px; */
}

.table-head-row{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.products_table{
  width: 861px;
}



.table-head-row th, .table-body-row td{
  width: 100px;
  text-align: center;
}

